* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.main_header {
    background-color: #e1e1e1;
}

.main_header .nav_bar ul {
    list-style-type: none;
    display: flex;
}

.main_header .nav_bar ul li {
    position: relative;
}

.main_header .nav_bar ul li ul {
    position: absolute;
    width: 20rem;
    background-color: #e1e1e1;
    display: none;
}


.main_header .nav_bar ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.main_header .nav_bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-transform: capitalize;
    display: block;
    padding: 1rem 2rem;
}

.main_header .nav_bar li:hover > a{
    background-color: #999;
    color: #fff;
}
.main_header .nav_bar ul li:hover > ul,
.main_header .nav_bar ul li:focus-within > ul{
    display: block;
}